body {
  background-image: url("images/background2.jpeg");
}
header {
  position:sticky;
  top: 0px;
  z-index: 100px;
}

li a:hover {
  background-color: #ddd;
  color: black;
}

#motto{
  float: left;
  color: white;
  padding: 10px 26px;
  font-size: 29px;
  font-family: 'Redressed', cursive; }
.active {
  background-color: #04aa6d;
}

article {
  margin: 50px 40px 20px 20px;
  background-color: burlywood;
  float:left;
  padding: 15px;
  overflow:auto;
}
aside {
  background-color: blue;
  width: 250px;
  float: right;
  


}

figure {
  width: 290px;
  height: 220px;
}
img {
  width: 290px;
  height: 210px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 23px ;
  text-decoration: none;
}
